<h1>Flatiron Calendarizer</h1>

<%= form_tag("/calendars/create") do %>

    <%= collection_select(:calendar, :id, @calendar_list, :id, :summary, prompt: true) %>

    <%= select(:module, :id, (1..5).to_a.collect {|v| ["Module #{v}", v] }, {prompt: true}) %>

    <%= submit_tag "Update calendar" %>
<% end %>